body {
    margin: 0;
    text-align: center;
    overflow: none;
}

.warning-container, .alternate {
    display: none;
}

.hand-button-container, .utility {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 318px) {
    .content-container {
        display: none;
    }

    .warning-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 3rem;
        height: 100vh;
    }
}

@media (min-width: 319px){
    .content-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
    }

    p.heading {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0.65rem;
    }

    p.stage-prompt {
        font-size: 1.65rem;
        font-weight: 800;
    }

    .hand {
        height: 6rem;
        width: 6rem;
        background-image: url('assets/rock.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 100%;     
    }

    .play-button {
        width: 4rem;
    }

    .left-hand, .right-hand {
        display: flex;
        flex-flow: column wrap;
        justify-items: center;
        align-content: center;
        gap: 0.65rem;
    }

    .toggleable {
        display: none;
    }
}

@media (min-width: 495px) {
    .left-hand { flex-direction: row-reverse; }
    .right-hand { flex-direction: row; }
    
    .left-hand, .right-hand {
        justify-content: center;
        align-items: center;    
        gap: 1.25rem;
    }

    .hand {
        height: 7rem;
        width: 7rem;
    }

    .content-container {
        justify-content: center;
        gap: 0.35rem;
    }
}

@media (min-width: 670px) {
    .content-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .hand-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        height: 100vh;
    }

    .play-button, .mainbtn, .mainhead {
        display: none;
    }

    .utility-buttons {
        display: none;
    }
    
    .hand {
        height: 7.5rem;
        width: 7.5rem;
    }

    .toggleable, .alternate {
        display: block;
    }

    .toggleable {
        width: 4rem;
    }

    .left-hand, .right-hand {
        flex-direction: row-reverse;
        gap: 0.75rem;
    }

    #stage-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

} 

@media (min-width: 860px) {
    p.stage-prompt {
        font-size: 2.5rem;
    }

    p.heading {
        font-size: 1.85rem;
    }

    .hand {
        height: 8.5rem;
        width: 8.5rem;
    }
}

@media (min-width: 1000px) {
    p.stage-prompt {
        font-size: 3.5rem;
    }

    p.heading {
        font-size: 2.5rem;
    }

    .hand {
        height: 10rem;
        width: 10rem;
    }
}