html {
    margin-right: 0;
    margin-left: 0; 
    margin-top: 0;
    height: 100vh;
    width: 100vw;
}

body {
    text-align: center;
}

.left-hand, .right-hand {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;  
    gap: 12px;
}

.hand-button-container, .utility {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    gap: 20px;
}

.human-left, .human-right, .computer-left, .computer-right {
    background-image: url('assets/rock.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 100%;

}

.left-hand, .right-hand {
    height: 12rem;
    width: 12rem;
}

.human-left, .human-right, .computer-left, .computer-right {
    height: 12rem;
    width: 12rem;
}

.hands-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    gap: 3rem;
}

@media (max-width: 480px) {
    h1 {
        margin: 1.2rem 0;
    }

    .hands-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        gap: 1rem;
    }

    .left-hand, .right-hand {
        height: 8rem;
        width: 8rem;
    }
    
    .human-left, .human-right, .computer-left, .computer-right {
        height: 8rem;
        width: 8rem;
    }
    

}